/* stylelint-disable at-rule-empty-line-before */
:root {
  --color: #3498db;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  width: 100%;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 60px;
  width: 100%;
}

.list {
  margin: 20px;
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  height: 60px;
  list-style: none;
  white-space: nowrap;
}

.link {
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 22px;
  padding-top: 22px;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.link::after {
  position: absolute;
  content: '';
  display: block;
  width: 0;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color:var(--color);
  border-radius: 8px;
  transition: width 0.3s ease;
}

.link.is-active::after {
  width: 100%;
}

.link:hover {
  color: var(--color);
}
